
<ion-content>

  <div class="logo">
    <img src="/assets/images/chess-pieces-logo.png">
  </div>

  <ion-item  class="top">
    <ion-spinner class="large" name="crescent"></ion-spinner>
    <h1>Searching for Opponent</h1>
  </ion-item>
  <ion-item class="center">
  </ion-item>
  <ion-item class="bottom">
    <ion-avatar>
      <img src="/assets/icon/profile.svg">
    </ion-avatar>
    <ion-label>
      <h1>{{userProfile.name}} ({{userProfile.rating}})</h1>
      <!-- <h2>₹ 1500</h2> -->
    </ion-label>
  </ion-item> 
</ion-content>
