<ion-header translucent>
  <ion-toolbar>
    <ion-back-button  slot="start" defaultHref="tabs/dashboard" color="light" text=""></ion-back-button>
    <ion-title>Custom Battle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="5">
      <h2> Winning Amount </h2>
    </ion-col>
    <ion-col size="7">
      <select class="select-box" value="10">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </ion-col>  
  </ion-row>
  <ion-row>
    <ion-col size="5">
      <h2> VS </h2>
    </ion-col>
    <ion-col size="7">
      <select class="select-box" value="random">
        <option value="random">Random</option>
      </select>
    </ion-col>  
  </ion-row>
  <ion-row>
    <ion-col size="5">
      <h2> Time </h2>
    </ion-col>
    <ion-col size="7">
      <select class="select-box" disabled value="5|0">
        <option value="5|0">5|0</option>
      </select>
    </ion-col>  
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h1> Rating </h1>
    </ion-col>
  </ion-row>  
  <ion-row>
    <ion-col size="5">
      <h2>From</h2>
    </ion-col>
    <ion-col size="7">
      <select class="select-box" value="-100">
        <option value="-100">-100</option>
        <option value="-200">-200</option>
        <option value="-500">-500</option>
      </select>
    </ion-col>  
  </ion-row>
  <ion-row>
    <ion-col size="5">
      <h2>To</h2>
    </ion-col>
    <ion-col size="7">
      <select class="select-box" value="100">
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="500">500</option>
      </select>
    </ion-col>  
  </ion-row>
  <ion-row>  
    <ion-col class="button" text-center>
      <ion-button expand="full" class="accept" (click)="createBattle()">Create</ion-button>
    </ion-col>
  </ion-row>
</ion-grid> 

</ion-content>
