:host{
    ion-content {
        --padding-start:0px;
        --padding-end: 0px;
        ion-toolbar{
            --background: transparent;
            ion-badge {
                display: inline-block;
                width: 12px;
                height: 12px;
                background: #E55545;
                border: 1.5px solid #fff;
                border-radius: 50px;
                position: absolute;
                top: 4px;
                right: -2px;
            }
        }
    }
}

.button{
    justify-items: center;
    display: grid; 
}
.logo{
    padding: 0px 0px 15px 0px;
    justify-items: center;
    display: grid;

    img{
        max-width:273px;
    }
}

.trapezoid {
    height: 0;
    width: 165px;
    border-bottom: 50px solid #87b03e;
    border-left: 23px solid transparent;
    border-right: 25px solid transparent;
    border-radius: 10px 10px 10px 10px;
	--background: transparent;
    --box-shadow: none;
    --padding-top: 23px;
    --padding-bottom: 15px;
    --color: white;
    font-size: 26px;
    font-weight: 700;
}

.challenge-btn{
    --background: #222428;
    font-size: 18px;
    ion-badge{
        margin-left:5px;
    }
}

ion-row {
    background:#062a1d;
    ion-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ion-button {
            width: 168px;
            height: auto;
            --box-shadow: none;
            --background: radial-gradient(circle at center, #096070 0%, #0c242b 100%);
            
            
            .btn-wrap {
                width: 100%;
                min-height: 120px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 2px solid #f5f6f9;
                border-radius: 10px;

                h4 {
                    margin: 0;
                }
                img {
                    max-height: 63px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}