<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">Chess Battles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding-content">

  <ion-item lines="none" class="guest-player-black">
    <ion-avatar slot="start">
        <img alt="Black Player" height="40" width="40" src="https://www.chess.com/bundles/web/images/black_400.918cdaa6.png">
    </ion-avatar>
    <ion-label>
      <h3 class="guest-player-username">{{opponentPlayer.name}}</h3>
      <span class="guest-player-rating">{{opponentPlayer.rating}}</span>
      <span class="country-flags-component country-2"></span>
      <img *ngFor="let piece of opponentCapturedPieces" [style.width.px]="15" [style.height.px]="20" src="/assets/img/chesspieces/wikipedia/{{piece}}.png">
    </ion-label>
    <ion-label slot="end" class="timer">
      <h4 class="guest-timer">{{enemyTimer.timeLeftMinutes}}:{{enemyTimer.timeLeftSeconds}}</h4>
    </ion-label>
  </ion-item>
  <!-- <div class="guest-grid-item guest-board-preview">
    <div class="guest-player guest-player-black">
      <div class="guest-player-wrapper">
        <img alt="Black Player" class="guest-player-placeholder" height="40" src="https://www.chess.com/bundles/web/images/black_400.918cdaa6.png" width="40">
        <div class="guest-player-username">Opponent</div>
      </div>
      <div class="guest-timer">{{enemyTimer.timeLeftMinutes}}:{{enemyTimer.timeLeftSeconds}}</div>
    </div> -->
        <table class="chess_table"
              [style.width.px]="boardSize"
              [style.height.px]="boardSize"
              (window:resize)="resize()">
          <tr *ngFor="let row of game.board.rows; let y = index;">
            <td [style.font-size.em]="fontSize"
              *ngFor="let square of row.squares; let x = index;"
              [style.width.px]="squareSize"
              [style.height.px]="squareSize"
              (click)="click(x,y)"
              [style.background]="square.highlightColor"
              [ngClass]="square.piece && square.piece.color == 0 ? 'WP' : 'BP'"
              >
              <div style="position: relative;">
                <span class="square" [style.border]="square.border"></span>
                <img class="piece-img" *ngIf="square.piece != null" [style.width.px]="squareSize" [style.height.px]="squareSize" src="/assets/img/chesspieces/wikipedia/{{square.piece.type}}.png" />
              </div>  

            </td>
          </tr>
        </table>

        <ion-item lines="none" class="guest-player guest-player-white">
          <ion-avatar slot="start">
              <img alt="White Player" height="40" width="40" src="https://www.chess.com/bundles/web/images/white_400.09ae248e.png">
          </ion-avatar>
          <ion-label>
            <h3 class="guest-player-username">{{gamePlayer.name}}</h3>
            <span class="guest-player-rating">{{gamePlayer.rating}}</span>
            <span class="country-flags-component country-1"></span>
            <img *ngFor="let piece of userCapturedPieces" [style.width.px]="15" [style.height.px]="20" src="/assets/img/chesspieces/wikipedia/{{piece}}.png">
          </ion-label>
          <ion-label slot="end" class="timer">
            <h4 class="guest-timer">{{userTimer.timeLeftMinutes}}:{{userTimer.timeLeftSeconds}}</h4>
          </ion-label>
        </ion-item>

   <!--  <div class="guest-player guest-player-white">
      <div class="guest-player-wrapper">
        <img alt="White Player" class="guest-player-placeholder" height="40" src="https://www.chess.com/bundles/web/images/white_400.09ae248e.png" width="40">

        <div class="guest-player-username-block">
          <div class="guest-player-username">GuestPlayer</div>

          <div class="guest-player-rating">(1200)</div>

          <div class="country-flags-component country-2"></div>
        </div>
      </div>

      <div class="guest-timer">{{userTimer.timeLeftMinutes}}:{{userTimer.timeLeftSeconds}}</div>
    </div>


 
   </div> <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <p class="go-to-register">
     <a (click)="login()">Login.</a>
     <a (click)="joinGame()">Join Game.</a>
    </p>
  </div> -->
</ion-content>
