<ion-header translucent>
  <ion-toolbar>
    <ion-back-button  slot="start" defaultHref="tabs/dashboard" color="light" text=""></ion-back-button>
    <ion-title >Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label slot="start" class="fs-20">Anil_D_Knight</ion-label>
    <ion-button shape="round" slot="end" class="rating">1200</ion-button>
  </ion-item>
    <ion-item>
      <canvas #lineCanvas></canvas>
    </ion-item>

    <ion-list>
      <ion-list-header>
        <ion-label (click)="SelectTab('Friends')"  [ngClass]="{'active': openTab==='Friends'}">Win/Lose</ion-label>
      </ion-list-header>
        <ion-item>
          <canvas #doughnutCanvas></canvas>
        </ion-item>
    </ion-list>     
</ion-content>
