:host{
    ion-content {
        --background:#161616;
    }
    ion-toolbar{
        --background: #224f5a;
        --color: white;
        border-bottom: 1px solid #3f3434;
        ion-title{
            font-weight: 700;
            font-size: 20px;
            text-align: center !important;
            line-height: 3;
            padding-left: 0px;
        }
    }
}


ion-list{
    background: #161616;
    padding-top: 0px;
    ion-list-header{
        --color:white;
        padding-left: 10px;
        padding-right: 10px;
        background: linear-gradient(180deg, #155326 0%, #1d4c1e 100%);
      
        ion-label{
            padding-left: 10px;
            
        }
        ion-icon{
            font-size:20px;
            color:white;
        }
    }
    ion-item{
        --background: transparent;
        --color: white;
        margin-top: 5px;
        p{
            color:#919191;
        }
        ion-toggle{
            width:45px;
            height:25px;
            --background: #fff;
            --background-checked: #fff;
            --handle-background: #377E88;
            --handle-background-checked: #377E88;
        }
        
    }
}

.logout{
    --background: transparent;
    --color: white;
    margin-top: 5px;
    justify-content: center;
    display: grid;
    .accept{
        --background: #87b03e;
        font-weight: 400;
        height: 40px;
        width:180px;
        font-size:18px;
        text-transform: capitalize;

        ion-icon{
            margin-right:10px;
        }
    }
}